/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    width: 100%;
    overflow: hidden;
    text-align: center;

}

/* Style the links inside the navigation bar */
.topnav a {
    color: white !important;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topnav li{
    display: inline-block;
    margin-left: 0;
    float: left;
}

.topnav ul{
    margin: 0px;
    padding: 0px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
} 

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #01A9DB;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* Comportement par défaut */,
.text-left-sm,
.text-left-md,
.text-left-lg,
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg,
.text-justify-sm,
.text-justify-md,
.text-justify-lg { 
    text-align: inherit; 
}

/* Style par défaut */
.text-left-xs { 
    text-align: left; 
}
.text-center-xs { 
    text-align: center; 
}
.text-right-xs { 
    text-align: right;
}
.text-justify-xs { 
    text-align: justify; 
}

/* Style pour tablette */
@media (min-width: 768px) {
    .text-left-sm, 
    .text-left-xs { 
        text-align: left; 
    }
    .text-center-sm, 
    .text-center-xs { 
        text-align: center; 
    }
    .text-right-sm, 
    .text-right-xs { 
        text-align: right; 
    }
    .text-justify-sm, 
    .text-justify-xs { 
        text-align: justify; 
    }
}

/* Style pour desktop */
@media (min-width: 992px) {
  .text-left-md, 
  .text-left-sm, 
  .text-left-xs { 
      text-align: left; 
  }
  .text-center-md, 
  .text-center-sm, 
  .text-center-xs { 
      text-align: center; 
  }
  .text-right-md, 
  .text-right-sm, 
  .text-right-xs { 
    text-align: right;
}
.text-justify-md, 
.text-justify-sm, 
.text-justify-xs { 
    text-align: justify;
}
}

/* Style pour grand desktop */
@media (min-width: 1200px) {
    .text-left-lg, 
    .text-left-md, 
    .text-left-sm, 
    .text-left-xs {
        text-align: left;
    }
    .text-center-lg, 
    .text-center-md, 
    .text-center-sm, 
    .text-center-xs {
        text-align: center;
    }
    .text-right-lg, 
    .text-right-md, 
    .text-right-sm, 
    .text-right-xs {
        text-align: right;
    }
    .text-justify-lg, 
    .text-justify-md, 
    .text-justify-sm, 
    .text-justify-xs {
        text-align: justify;
    }
}

.homepage .brand h1 {

    font-size: 4.2rem;
    font-weight: 600;
    display: inline-block;
    position: relative;
    
    color: #212529;
    margin-top: 400px;
}

/*login form*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Full-width input fields */
#id01 .container input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #01a9db !important;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

#id01 .container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
     display: block;
     float: none;
 }
 .cancelbtn {
     width: 100%;
 }
}
/*end login form*/

#testregister .btn-success {
    color: #fff;
    background-color: #01a9db !important;
    border-color: #01a9db !important;
}

*::before,
*::after {
  box-sizing: content-box; // 1
}

#myForm body {
    margin: 0;
    font-family:sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


#myForm body {
    display: block;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba($black, 0); // 6
}

#myForm *, ::after, ::before {
    box-sizing: border-box;
}
#myForm *, ::after, ::before {
    box-sizing: border-box;
}

#myForm .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#myForm .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#myForm    padding-bottom: 3rem!important;
}

#myForm .pt-5, .py-5 {
    padding-top: 3rem!important;
}

#myForm .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0;
    margin-left: 0 !important;
}

#myForm .h1, h1 {
    font-size: 4rem;
}

#myForm .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
} 
#myForm h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

#myForm h1 {
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-left: 2em;
}

#myForm form {
    display: block;
    margin-top: 0em;
}


#myForm .form-group {
    margin-bottom: 1rem;
}

#myForm .form-control {
    display: block;
    width: 70%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#myForm label {
    display: inline-block;
    margin-bottom: .5rem;
}

#myForm label {
    cursor: default;
}

#myForm button, input {
    overflow: visible;
}

#myForm button, input, optgroup, select, textarea {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: inherit;
}
#myForm *, ::after, ::before {
    box-sizing: border-box;
}

#myForm input {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

#myForm input, textarea, select, button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font: 400 13.3333px Arial;
}

#myForm input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}

#myForm option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

#myForm .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

#myForm .btn-success {
    color: #fff;
    background-color: #01a9db !important;
    border-color: #01a9db !important;
}

#myForm .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#myForm [type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

#myForm button, input {
    overflow: visible;
}
#myForm button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
}

#myForm input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
}

#myForm .text-muted {
    color: #6c757d!important;
}
#myForm b, strong {
    font-weight: bolder;
}
#myForm p {
    margin-top: 0;
    margin-bottom: 1rem;
}

#myForm @media (min-width: 768px)
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
}

#myForm progress {
  vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

#myForm textarea.form-control {
    height: auto;
}

